body{
    background-color: rgb(122, 224, 156);
}

.contenitore{
 display:grid;
}

.desktop{
width: 1440px;
height: 1024px;
border: 1px solid black;
background-color: rgb(141, 218, 70);
}

.primapaginaM{
width: 1366px;
height: 73px;
background-color: DFAAF9;
margin-left: 37px;

}