body{
    background-color: rgb(204, 122, 224);
}

.contenitore{
 display:grid;
}

.desktop{
width: 1440px;
height: 1024px;
border: 1px solid black;
}

.primapaginaM{
width: 1366px;
height: 73px;
background-color: DFAAF9;
margin-left: 37px;

}