body{
    background-color: rgb(204, 122, 224);
}

.contenitore{
 display:grid;
}

.primapagina{
width: 1440px;
height: 1024px;
border: 1px solid black
}

.secondapagina{
width: 1440px;
height: 1024px;
border: 1px solid black
}

.terzapagina{
width: 1440px;
height: 1024px;
border: 1px solid black
}
    
.quartapagina{
width: 1440px;
height: 1024px;
border: 1px solid black
}
    
.quintapagina{
width: 1440px;
height: 1024px;
border: 1px solid black
}
    